<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tigo - Puntos de Venta</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>

    <header>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="1440" height="560" preserveAspectRatio="none" viewBox="0 0 1440 560">
            <g mask="url(&quot;#SvgjsMask1089&quot;)" fill="none">
                <rect width="1440" height="560" x="0" y="0" fill="#0e2a47"></rect>
                <path d="M248 510L247 288" stroke-width="6" stroke="url(#SvgjsLinearGradient1090)" stroke-linecap="round" class="Up"></path>
                <path d="M1106 365L1105 767" stroke-width="8" stroke="url(#SvgjsLinearGradient1091)" stroke-linecap="round" class="Down"></path>
                <path d="M259 118L258 308" stroke-width="10" stroke="url(#SvgjsLinearGradient1090)" stroke-linecap="round" class="Up"></path>
                <path d="M405 444L404 48" stroke-width="8" stroke="url(#SvgjsLinearGradient1090)" stroke-linecap="round" class="Up"></path>
                <path d="M1344 345L1343 534" stroke-width="10" stroke="url(#SvgjsLinearGradient1091)" stroke-linecap="round" class="Down"></path>
                <path d="M379 381L378 30" stroke-width="8" stroke="url(#SvgjsLinearGradient1091)" stroke-linecap="round" class="Down"></path>
                <path d="M1369 519L1368 355" stroke-width="8" stroke="url(#SvgjsLinearGradient1091)" stroke-linecap="round" class="Down"></path>
                <path d="M112 318L111 176" stroke-width="10" stroke="url(#SvgjsLinearGradient1090)" stroke-linecap="round" class="Up"></path>
                <path d="M1275 195L1274 491" stroke-width="10" stroke="url(#SvgjsLinearGradient1091)" stroke-linecap="round" class="Down"></path>
                <path d="M1285 290L1284 611" stroke-width="6" stroke="url(#SvgjsLinearGradient1091)" stroke-linecap="round" class="Down"></path>
                <path d="M191 244L190 37" stroke-width="10" stroke="url(#SvgjsLinearGradient1091)" stroke-linecap="round" class="Down"></path>
                <path d="M648 244L647 -62" stroke-width="10" stroke="url(#SvgjsLinearGradient1090)" stroke-linecap="round" class="Up"></path>
                <path d="M518 489L517 714" stroke-width="10" stroke="url(#SvgjsLinearGradient1090)" stroke-linecap="round" class="Up"></path>
                <path d="M1271 146L1270 420" stroke-width="8" stroke="url(#SvgjsLinearGradient1091)" stroke-linecap="round" class="Down"></path>
                <path d="M1106 551L1105 856" stroke-width="10" stroke="url(#SvgjsLinearGradient1091)" stroke-linecap="round" class="Down"></path>
                <path d="M49 371L48 741" stroke-width="10" stroke="url(#SvgjsLinearGradient1090)" stroke-linecap="round" class="Up"></path>
                <path d="M827 411L826 556" stroke-width="6" stroke="url(#SvgjsLinearGradient1091)" stroke-linecap="round" class="Down"></path>
                <path d="M261 297L260 684" stroke-width="10" stroke="url(#SvgjsLinearGradient1091)" stroke-linecap="round" class="Down"></path>
                <path d="M535 306L534 140" stroke-width="6" stroke="url(#SvgjsLinearGradient1090)" stroke-linecap="round" class="Up"></path>
                <path d="M514 267L513 -89" stroke-width="6" stroke="url(#SvgjsLinearGradient1091)" stroke-linecap="round" class="Down"></path>
                <path d="M865 320L864 47" stroke-width="10" stroke="url(#SvgjsLinearGradient1091)" stroke-linecap="round" class="Down"></path>
                <path d="M1095 559L1094 188" stroke-width="8" stroke="url(#SvgjsLinearGradient1091)" stroke-linecap="round" class="Down"></path>
                <path d="M1076 511L1075 776" stroke-width="8" stroke="url(#SvgjsLinearGradient1090)" stroke-linecap="round" class="Up"></path>
                <path d="M290 107L289 -294" stroke-width="8" stroke="url(#SvgjsLinearGradient1090)" stroke-linecap="round" class="Up"></path>
                <path d="M1244 157L1243 -244" stroke-width="10" stroke="url(#SvgjsLinearGradient1091)" stroke-linecap="round" class="Down"></path>
                <path d="M1075 427L1074 132" stroke-width="10" stroke="url(#SvgjsLinearGradient1090)" stroke-linecap="round" class="Up"></path>
                <path d="M80 17L79 316" stroke-width="8" stroke="url(#SvgjsLinearGradient1090)" stroke-linecap="round" class="Up"></path>
                <path d="M1287 171L1286 311" stroke-width="6" stroke="url(#SvgjsLinearGradient1090)" stroke-linecap="round" class="Up"></path>
                <path d="M1004 363L1003 743" stroke-width="8" stroke="url(#SvgjsLinearGradient1091)" stroke-linecap="round" class="Down"></path>
                <path d="M587 128L586 407" stroke-width="6" stroke="url(#SvgjsLinearGradient1091)" stroke-linecap="round" class="Down"></path>
                <path d="M251 323L250 13" stroke-width="10" stroke="url(#SvgjsLinearGradient1091)" stroke-linecap="round" class="Down"></path>
                <path d="M1418 547L1417 298" stroke-width="8" stroke="url(#SvgjsLinearGradient1091)" stroke-linecap="round" class="Down"></path>
                <path d="M167 268L166 -62" stroke-width="8" stroke="url(#SvgjsLinearGradient1091)" stroke-linecap="round" class="Down"></path>
                <path d="M578 356L577 110" stroke-width="6" stroke="url(#SvgjsLinearGradient1090)" stroke-linecap="round" class="Up"></path>
                <path d="M3 215L2 -123" stroke-width="6" stroke="url(#SvgjsLinearGradient1091)" stroke-linecap="round" class="Down"></path>
                <path d="M114 558L113 701" stroke-width="10" stroke="url(#SvgjsLinearGradient1091)" stroke-linecap="round" class="Down"></path>
            </g>
            <defs>
                <mask id="SvgjsMask1089">
                    <rect width="1440" height="560" fill="#ffffff"></rect>
                </mask>
                <linearGradient x1="0%" y1="100%" x2="0%" y2="0%" id="SvgjsLinearGradient1090">
                    <stop stop-color="rgba(28, 83, 142, 0)" offset="0"></stop>
                    <stop stop-color="#1c538e" offset="1"></stop>
                </linearGradient>
                <linearGradient x1="0%" y1="0%" x2="0%" y2="100%" id="SvgjsLinearGradient1091">
                    <stop stop-color="rgba(28, 83, 142, 0)" offset="0"></stop>
                    <stop stop-color="#1c538e" offset="1"></stop>
                </linearGradient>
            </defs>
        </svg>
    </header>


    